<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero2Dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,71},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Dead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Dead3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{209,221},{44,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Dead4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{266,215},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{209,177},{42,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{323,174},{44,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{117,193},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{71,1},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{117,1},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Dying1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,195},{58,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Dying2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,71},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Dying3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{59,195},{58,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Dying4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,133},{58,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{327,60},{40,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{167,60},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{38,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{268,43},{38,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{38,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{268,83},{38,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{167,119},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{327,117},{40,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{209,1},{40,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{268,1},{40,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{327,1},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{209,43},{40,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Saved1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,133},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Saved2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{209,85},{44,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Up1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{121,60},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{163,1},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Up3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{121,119},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Up4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{163,178},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2Win1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{266,123},{44,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Win2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{209,131},{44,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2Win3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{266,169},{44,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2.png</string>
            <key>size</key>
            <string>{368,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e936fbcd172a3e7fbbaa4b3c888606d5:407cc49ea3f23b40cecb235fafd09a1b:c6285d5b6b439ec231a3ed44fb9bc037$</string>
            <key>textureFileName</key>
            <string>hero2.png</string>
        </dict>
    </dict>
</plist>
