<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1Dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>hero1Dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>hero1Dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,59},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>hero1Dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,59},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>hero1Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,73},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>hero1Down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>hero1Down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>hero1Down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,61},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>hero1Down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>hero1Dying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero1Dying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero1Dying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero1Dying4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero1Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,60},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>hero1Left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>hero1Left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>hero1Left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,60},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>hero1Left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>hero1Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,60},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>hero1Right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>hero1Right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,74},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>hero1Right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>hero1Right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,62},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>hero1Saved1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>hero1Saved2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>hero1Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,72},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>hero1Up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,60},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>hero1Up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,71},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>hero1Up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>hero1Up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,60},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>hero1Win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>hero1Win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,59},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>hero1Win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1Basic.png</string>
            <key>size</key>
            <string>{849,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d726175570976a4ac677487974cfd96:8c8ef0942163eacd7ef8c80e839cb59b:3c3aa697140148e9e4e560e8fd211931$</string>
            <key>textureFileName</key>
            <string>hero1Basic.png</string>
        </dict>
    </dict>
</plist>
